<h1>ジャンル一覧</h1>

<div>
  <% @genres.each do |genre| %>
  <p>
    <%= link_to edit_admin_genre_path(genre.id) do %>
    <%= genre.name %>
    <% end %>
  </p>
  <% end %>
</div>


<h1>ジャンル追加</h1>
<%= form_with model: @genre,url: admin_genres_path, local:true do |f| %>
<%= f.text_field :name %>
<%= f.submit '追加' %>
<% end %>